.section-padding1 {
  padding: 100px 0px;
}
.section-padding2 {
  padding-top: 60px;
}
.navbar {
  margin-bottom: 0px;
}
section h2.titulo {
  font-size: 40px;
  margin-top: 0;
}
section h3.subtitulo {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 0;
}
.boton {
  padding: 20px 0;
}
footer {
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  text-transform: none;
}