<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inscripciones</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/estilo.css">
  <script src="libs/jquery/jquery.min.js"></script>
  <script src="libs/bootstrap/bootstrap.min.js"></script>
  <script src="libs/angular/angular.min.js"></script>
  <script src="libs/angular/angular-resource.js"></script>
  <script src="js/controllers/controllers.js"></script>
  <script src="js/services/service_inscribir.js"></script>
  <script src="js/validations.js"></script>
</head>  

<body class="ng-scope" ng-app="myApp" ng-controller="myController">
	
  <header>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-navegacion" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Acuérdate de Mí</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu-navegacion">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="inscribir.html">Inscripción</a></li> 
            <li><a href="buscar.html">Busqueda</a></li>
            <li><a href="listar.html">Crear Listado</a></li>
            <li><a href="ordenar.html">Orden</a></li>
          </ul>
      
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
  </header>

  <section>
    <div class="container section-padding1">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="titulo">INSCRIPCION</h2>
        </div>
      </div>

      <div class="row section-padding2">
        <div class="col-sm-4 col-sm-offset-4">
            <form role="form">

              <label for="nombres">Nombres</label>
              <div class="row">
                <div class="form-group col-sm-6">
                  <input ng-model="benef.nombre1" type="text" class="form-control" placeholder="Primer Nombre" id="nombres">
                </div>
                <div class="form-group col-sm-6">
                  <input ng-model="benef.nombre2" type="text" class="form-control" placeholder="Segundo Nombre">
                </div>
              </div>
              <label for="apellidos">Apellidos</label>
              <div class="row">
                <div class="form-group col-sm-6">
                  <input ng-model="benef.apellido1" type="text" class="form-control" placeholder="Primer Apellido" id="apellidos">
                </div>
                <div class="form-group col-sm-6">
                  <input ng-model="benef.apellido2" type="text" class="form-control" placeholder="Segundo Apellido">
                </div>
              </div>
              <label for="rut">Ingresar Rut</label>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Ejemplo: 12345678-9" id="rut" name="rut">
              </div>
              <label for="fecha_nac">Fecha de Nacimiento</label>
              <div class="form-group">
                <input ng-model="benef.fecha_nac" type="text" class="form-control" placeholder="Ejemplo: DD/MM/AAAA" id="fecha_nac">
              </div>
              <label for="dire">Dirección</label>
              <div class="form-group">
                <input ng-model="benef.direccion" type="text" class="form-control" placeholder="Dirección" id="dire">
              </div>
              <label for="entidad">Entidad</label>
              <div class="form-group">
                <select ng-model="benef.entidad" class="form-control" placeholder="Entidad" id="entidad">
                  <option value="1">Sede</option>
                  <option value="2">Jardín</option>
                  <option value="17">Agrupación</option>
                  <option value="0">Otro</option>
                </select>
              </div>
              <label>Genero</label>
              <div class="row">
                <div class="form-group col-sm-6">
                  <div class="radio">
                    <label>
                      <input ng-model="benef.genero" type="radio" name="optionsRadios" id="radioMasculino" value="M">
                      Masculino
                    </label>
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <div class="radio">
                    <label>
                      <input ng-model="benef.genero" type="radio" name="optionsRadios" id="radioFemenino" value="F">
                      Femenino
                    </label>
                  </div>
                </div>
              </div>
              <label for="estado">Estado</label>
              <div class="form-group">
                <select ng-model="benef.estado" class="form-control" placeholder="Estado" id="estado">
                  <option value="1">Normal</option>
                  <option value="3">Especial</option>
                </select>
              </div>
              <div class="boton text-center">
                <input class="btn btn-default" type="submit" value="Inscribirse" ng-click="enviar()">
              </div>

          </form>
        </div>
      </div>
      
    </div>
  </section>




<div>   
    	<h1 class="col-sm-12 text-center">:MENSAJE DE VUELTA</h1>
</div>    
</body>
    <!-- Menu -->
<footer class="col-sm-12 text-center"> { LINKS A LAS DEMAS PAGINAS } </footer>
</html>